@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
	font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
	font-weight: 700;
}

#hero {
	height: 50vh;
	background-image: url('../img/larx.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: darken;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0;
}

#hero-text {
	text-align: center;
	background-color: rgba(66, 186, 150, 0.7);
	padding: 50px;
}

#homepage .card-title {
	color: #42ba96;
}